* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Cairo", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Oregano", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #acacac;
  border-radius: 28px;
  font-size: 21px;
  color: #3f3f3f;
  cursor: pointer;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  min-width: 534px;
  background: #fff;
  direction: rtl;
  text-align: center;
  box-shadow: 0 0 30px 14px #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: 200ms;
}

.box.active {
  transform: translate(-50%, -50%) scale(1);
}

.box .header {
  padding: 12px;
  background: #5a8cdf;
  font-size: 20px;
  color: #fff;
}

.box .body {
  padding: 40px;
  font-size: 23px;
}

.box .footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box button {
  all: unset;
  width: 151px;
  border-radius: 20px;
  height: 41px;
  margin: 12px;
  margin-bottom: 12px;
  font-size: 21px;
  border: 2px solid #d2d2d2;
}

.box button:hover {
  background: #5a8cdf;
  cursor: pointer;
  border-color: #5a8cdf;
}
